import type { NextPage } from 'next';

import { Container } from './styles';

const {{pascalCase name}}: NextPage = () => {
  return (
    <Container>
      <h1>{{pascalCase name}}</h1>
    </Container>
  )
}

export default {{pascalCase name}};